/* global-scoped variables for color */
$color-primary: orange;
$color-secondary: gray;
$color-tertiary: royalblue;

/* global-scoped variables for font-size */
$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

.nav {
	background-color: $color-primary;

	ul li {
		list-style: none;
	}

	a {
		text-decoration: none;
		font-size: $font-sm;
		color: $color-secondary;

		&:hover {
			color: $color-tertiary;
		}
	}
}

@mixin headingsStyles($fontSize: 50px) {
	font-size: $fontSize;
	color: $color-secondary;
	text-align: center;
}

@mixin transition($param...) {
	transition: $param;
}

.banner h1 {
	@include headingsStyles($font-lg);
}

.footer h3 {
	@include headingsStyles;
	@include transition(color .5s, background-color 1s);

	&:hover {
		color: $color-tertiary;
		background-color: $color-primary;
	}
}
